/*GLOBAL STYLES*/

/*Navbar  - Edits made to the Bootstrap Nav*/
  /* The .nav-link class controls Home and Contact*/
  .nav-link{
  padding: 10px 25px 10px 25px ! important;
  font-size: 17px;
  }

  .navbar-toggler{
  margin-left: -10px;
  margin-right: -70px;
  border-color: rgba(0,0,0,0)! important;   /*This is for that box around the hanburger menu, bro*/
  border-radius: 1px;
  border-width: 1px;
  }

  .navbar-toggler:focus {
      outline: 0! important;
  }

  .navbar-default{
  background: rgba(0,0,0,.6) ! important;
  letter-spacing: 4px;
  }

  /* This controls the "JEREMY MARSHALL" text */
  .navbar .navbar-brand{
    color:#DCDCDC;
    font-size:17px;
    padding-left: 25px;
  }


  .navbar .navbar-brand:hover{
    color:#FFF;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #FFFFFF ! important;
  }

  .navbar .navbar-nav li a{
    color:#DCDCDC ! important;
    margin-left: -9px;

  }


/*STYLES SPECIFIC TO JWM.NYC/MARVEL*/
.marvel{
  /* background-image: url('../img/f_marvel/marvel_bg_alt.svg'); */
  background-image:linear-gradient(#BE2A2A, #9E2323 50%, #8F2020 80%, #B62827);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:500px;
  height:100vh;
}

.marvel_text{
color: white;
font-size:calc(12px + 1.3vw);
letter-spacing: 3px;
margin-bottom: 5px;
}

.marvel_subtext{
color: white;
font-size:calc(12px + 1.5vw);
letter-spacing: 1px;
margin-top: 20px;
}


.body {
  height:2000px;
}

.slantholder{
  transform: rotate(20deg);
}

.slant {
  z-index:0;
  width: 130vw;
  height: 300vh;
  min-height: 500px;
  margin-top: -100%;
  margin-left: -110vw;
  background: linear-gradient(90deg, black, #272626 80%, black);
  box-shadow: 2px 2px 35px black;
}

.hero {
  overflow: hidden;
}

.hero_content{
  text-align:center;
  position:relative;
  z-index:2;
}

.vertical_center{
  margin-top:25%;
}
/*     background: linear-gradient(90deg, black 50%, #333232 80%, black 95%);
