.body {
  height:2000px;
}

.slantholder{
  transform: rotate(20deg);
}

.slant {
  width: 90vw;
  height: 200vh;
  margin-left:-70vw;
  background: linear-gradient(-80deg, black 60%, #F6F638 85%, black 95%);
}

.hero {
    height: 100vh;
    overflow: hidden;
}
